<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" fill="clear" [routerLink]="'/home'" routerDirection="backward">
        <ion-icon slot="start" name="close"></ion-icon> 
        닫기
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" fill="clear" (click)="onEditCloseItems()">
        <ion-icon slot="start" name="{{isEditItems ? 'create' : 'close-circle'}}"></ion-icon> 
        {{isEditItems ? '수정' : '수정취소'}}
      </ion-button>
    </ion-buttons>
    <ion-title>설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="button-card">
        <ion-item style="top: 10%;" lines="none">
          <ion-buttons slot="end">
              <ion-button class="button__list" fill="outline" expand="block">
                <div>
                    <ion-icon style="zoom:1.5;" name="alarm"></ion-icon><br>
                    <ion-label>알림<br />확인</ion-label>
                </div>
              </ion-button>
              &nbsp;
              <ion-button class="button__list" fill="outline" expand="block" routerLink="/home">
                <div>
                    <ion-icon style="zoom:1.5;" name="home"></ion-icon><br>
                    <ion-label>메인<br />화면</ion-label>
                </div>
              </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="isEditItems">
        <div padding class="form-group" *ngFor="let info of infos">
            <div *ngFor="let info of infos">
                <ion-row>
                    <ion-col size="4">
                      채널명
                    </ion-col>
                    <ion-col size="8">
                      <ion-input [value]="info.ch_name" readonly></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      측정명
                    </ion-col>
                    <ion-col size="8">
                      <ion-input [value]="info.name_tag" readonly></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      측정단위
                    </ion-col>
                    <ion-col size="8">
                      <ion-input [value]="info.unit" readonly></ion-input>
                    </ion-col>
                  </ion-row>
                  <div *ngFor="let limit of limits">
                  <ion-row>
                    <ion-col>
                      온도표시
                    </ion-col>
                    <ion-col>
                      <ion-select [value]="limit.temp_bool" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="tempBoolChanged($event)">
                        <ion-select-option [value]="1">사용함</ion-select-option>
                        <ion-select-option [value]="0">사용안함</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col>
                      온도단위
                    </ion-col>
                    <ion-col>
                      <ion-select [value]="limit.temp_unit" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="tempUnitChanged($event)">
                        <ion-select-option value="c">°C</ion-select-option>
                        <ion-select-option value="f">°F</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                  </div>
                  <ion-row>
                    <ion-col>
                      저장주기
                    </ion-col>
                    <ion-col>
                      <ion-item class="input-font" lines="none">
                          <ion-label>5 분</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      저장기간
                    </ion-col>
                    <ion-col>
                      <ion-item class="input-font" lines="none">
                        <ion-label>365 일</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div *ngFor="let limit of limits">
                    <ion-row>
                      <ion-col size="3">
                        <span>최대알람</span>
                      </ion-col>
                      <ion-col size="4">
                          <ion-item class="input-font" lines="none">
                              <ion-input type="number" [value]="limit.value_max" readonly></ion-input>
                              <span>{{info.unit}}</span>
                          </ion-item>
                      </ion-col>
                      <ion-col size="5" text-right>
                        <ion-select value="{{ limit?.bool_max }}" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="maxChanged($event)">
                          <ion-select-option value="1">사용함</ion-select-option>
                          <ion-select-option value="0">사용안함</ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">
                        <span>최소알람</span>
                      </ion-col>
                      <ion-col size="4">
                          <ion-item class="input-font" lines="none">
                              <ion-input type="number" [value]="limit.value_min" readonly></ion-input>
                              <span>{{info.unit}}</span>
                          </ion-item>
                      </ion-col>
                      <ion-col size="5" text-right>
                        <ion-select value="{{ limit?.bool_min }}" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="minChanged($event)">
                          <ion-select-option value="1">사용함</ion-select-option>
                          <ion-select-option value="0">사용안함</ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </div>
            </div>
            <div *ngFor="let schedule of schedules">
              
              <ion-row>
                <ion-col size="4">
                  <span>센서교체주기</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                      <ion-input type="number" [value]="schedule.rep_term" readonly></ion-input>
                      <span>개월</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서교정주기</span>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" [value]="schedule.cor_term" readonly></ion-input>
                    <span>개월</span>
                  </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서점검주기</span>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" [value]="schedule.check_term" readonly></ion-input>
                    <span>개월</span>
                  </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>

            </div>
        </div>
    </ion-card>

    
    <ion-card *ngIf="!isEditItems">
        <form [formGroup]="validations_form">

        <div padding class="form-group">
            <div *ngFor="let info of infos">
              <ion-row>
                <ion-col size="4">
                  채널명
                </ion-col>
                <ion-col size="8">
                  <ion-input type="text" formControlName="ch_name"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  측정명
                </ion-col>
                <ion-col size="8">
                  <ion-input formControlName="name_tag"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  측정단위
                </ion-col>
                <ion-col size="8">
                  <ion-input [value]="info.unit" readonly></ion-input>
                </ion-col>
              </ion-row>
              <div *ngFor="let limit of limits">
                <ion-row>
                  <ion-col>
                    온도표시
                  </ion-col>
                  <ion-col>
                    <ion-select [value]="limit.temp_bool" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="tempBoolChanged($event)">
                      <ion-select-option [value]="1">사용함</ion-select-option>
                      <ion-select-option [value]="0">사용안함</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col>
                    온도단위
                  </ion-col>
                  <ion-col>
                    <ion-select [value]="limit.temp_unit" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="tempUnitChanged($event)">
                      <ion-select-option value="c">°C</ion-select-option>
                      <ion-select-option value="f">°F</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </div>
              <ion-row>
                <ion-col>
                  저장주기
                </ion-col>
                <ion-col>
                  <ion-select value="5" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option *ngFor="let minute of stIntervals" value="{{minute}}">{{minute}}분</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  저장기간
                </ion-col>
                <ion-col>
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" value="365"></ion-input>
                    <span>일</span>
                </ion-item>
                </ion-col>
              </ion-row>
              <div *ngFor="let limit of limits">
              <ion-row>
                <ion-col size="3">
                  <span>최대알람</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                        <ion-input type="number" formControlName="value_max"></ion-input>
                        <span>{{info.unit}}</span>
                    </ion-item>
                </ion-col>
                <ion-col size="5" text-right>
                  <ion-select value="{{ limit?.bool_max }}" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="maxChanged($event)">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <span>최소알람</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                        <ion-input type="number" formControlName="value_min"></ion-input>
                        <span>{{info.unit}}</span>
                    </ion-item>
                </ion-col>
                <ion-col size="5" text-right>
                  <ion-select value="{{ limit?.bool_min }}" placeholder="선택" ok-text="선택" cancel-text="취소" (ionChange)="minChanged($event)">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </div>
            </div>
            <div *ngFor="let schedule of schedules">

              <ion-row>
                <ion-col size="4">
                  <span>센서교체주기</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                      <ion-input type="number" formControlName="rep_term"></ion-input>
                      <span>개월</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서교정주기</span>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" formControlName="cor_term"></ion-input>
                    <span>개월</span>
                  </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서점검주기</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                      <ion-input type="number" formControlName="check_term"></ion-input>
                      <span>개월</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              </div>
              <p align="right">
                <ion-button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" (click)="verifyPass(0)" fill="outline">등록</ion-button> 
              </p>
        </div>
      </form>

    </ion-card>

    
    <ion-card *ngIf="isEditItems">
        <div padding class="form-group">
          <ion-label>채널 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  채널수량
              </ion-col>
              <ion-col>
                <ion-select [disabled]="true" placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">CH{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </ion-card>
    <ion-card *ngIf="!isEditItems">
        <div padding class="form-group">
          <ion-label>채널 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  채널수량
              </ion-col>
              <ion-col>
                <ion-select placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">CH{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <p align="right">
              <ion-button class="button button-block button-calm ink" (click)="wrongAlert('개발중입니다.')" fill="outline" type="submit">등록</ion-button> 
            </p> 
          </ion-grid>
        </div>
    </ion-card>

    <ion-card *ngIf="isEditItems">
        <div padding class="form-group">
          <ion-label>스테이지 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  스테이지수량
              </ion-col>
              <ion-col>
                <ion-select [disabled]="true" placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </ion-card>
    <ion-card *ngIf="!isEditItems">
        <div padding class="form-group">
          <ion-label>스테이지 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  스테이지수량
              </ion-col>
              <ion-col>
                <ion-select placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
              <p align="right">
                <ion-button class="button button-block button-calm ink" (click)="wrongAlert('개발중입니다.')" fill="outline" type="submit">등록</ion-button>           
              </p>
          </ion-grid>
        </div>
    </ion-card>


</ion-content>