@font-face {
  font-family: KoPubDotumBold;
  src: url(assets/fonts/KoPubDotumBold.ttf) format("ttf");
  }


:host {
  ion-content {
      --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }
}

ion-slide >:first-child {
  width: 100%;
}

.sensor-value {
  font-size: 40px;
  font-weight:bolder;
}

.gauge-card {
  margin-top: 0px  !important;
  //margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 0.75rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
  height: 120px;
  //background: linear-gradient(to bottom, #711B86, #00057A);
}

.button-card {
  margin-top: 0px  !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 0.75rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
  background-color: white;
  //background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
  height: 120px;
}

#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}


$categories: (
  '00': #559dde,
  '02': #f36522,
  '03': #ffde00,
  '04': #ffde00,
  '05': #ffde00,
  '06': #ffde00,
  '07': #ffde00
);

@each $track, $value in map-remove($categories) {
  ion-list[track='#{$track}']{
    background-image: linear-gradient(to top, $value, white);
  }
}

.class-chart {
  //padding: 0px; 
  //margin: 0px;
  //width: 45vw;
  width: 60vw;
  height: 10vh;
}

/*
ion-content{
  //--ion-background-color:rgba(175, 182, 175, 0.838);
  //--ion-background-color: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  --ion-background-color: linear-gradient(to bottom,#711B86 0%,#00057A 100%);
}
*/

.card__text {
  font-weight: bolder; 
  font-family: KoPubDotumBold !important;
  color: black;
}

.button__list {

  width: 100%;
  max-width: 100%;
  min-width: 15%;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}


.channel__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  align-self: center;
  font-size: 1.15rem;
  color:white;
}

.root__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  transition: background 300ms linear;
  background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
}

.root__container-dark {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
