<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>
        {{title}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentFilter()">
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button>
            <ion-button (click)="presentNoti()">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge id="notifications-badge" color="danger" [hidden]="badgeNumber == 0">{{badgeNumber}}</ion-badge>
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="새로고침 중"
            refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>

        <ion-slides #slider>
            <!--
            <ion-text [hidden]="!getError" class="channel__text">서버 or 통신 에러</ion-text>
            -->
            <ion-slide *ngFor="let channel of channels">
            <ion-grid>                
                <ion-row>
                    <ion-text class="channel__text">{{channel.ch_name}}</ion-text>
                </ion-row>
                <ion-row>
                    <ion-col no-padding size="12" size-md="6" *ngFor="let sensor of sensors; let i = index">  

                        <ion-card class="gauge-card" *ngIf="(sensor.channel_id == channel.id) && (modes[i] == 0)" (click)="changeMode(i, 1)">
                            <ion-list [attr.track]="sensor.state">
                            <ion-item lines="full">
                                <ion-label class="card__text" position="stacked" item-start text-left>{{ sensor.name_tag }}</ion-label>
                                <div *ngIf="!existLimit[i]">
                                    <ion-label class="card__text" item-end text-right>{{sensor.temp}} °C</ion-label>
                                </div>
                                <div *ngFor="let limit of limits">
                                    <div *ngIf="sensor.id == limit.sensor_id">
                                        <ng-container *ngIf="limit.temp_bool == '0'; else second">
                                            <ion-label></ion-label>
                                        </ng-container>
                                        <ng-template #second>
                                            <ng-container *ngIf="limit.temp_unit == 'c'; else third">
                                                <ion-label class="card__text" item-end text-right>{{sensor.temp}} °C</ion-label>                                            
                                            </ng-container>
                                        </ng-template>
                                        <ng-template #third>
                                            <ion-label class="card__text" item-end text-right>{{sensor.temp}} °F</ion-label>
                                        </ng-template>
                                    </div>
                                </div>

                            </ion-item>
                            <ion-item lines="none">

                                <!--
                                <ion-icon style="zoom:2.0; color: brown;" name="warning"></ion-icon>
                                -->
                                <div *ngFor="let limit of limits">
                                    <div *ngIf="sensor.id == limit.sensor_id">
                                        <ng-container *ngIf="limit.bool_max && sensor.value > limit.value_max; else second">
                                            <ion-label style="font-size: 14px;color: rgb(96, 58, 32);">
                                                <b>{{MSG_MAX}}/</b>
                                            </ion-label>
                                        </ng-container>
                                        <ng-template #second>
                                            <ng-container *ngIf="limit.bool_min && limit.value_min > sensor.value;">
                                                <ion-label style="font-size: 14px;color: rgb(96, 58, 32);;">
                                                    <b>{{MSG_MIN}}/</b>
                                                </ion-label>
                                            </ng-container>
                                        </ng-template>
                                    </div>
                                </div>
                                
                                <ng-container [ngSwitch]="sensor.state">
                                    <div *ngSwitchCase="00">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_OK}}</ion-label>
                                    </div>
                                    <div *ngSwitchCase="02">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_NETWORK_ERROR}}</ion-label>
                                    </div>
                                    <div *ngSwitchCase="03">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_CORRECTION}}</ion-label>
                                    </div>
                                    <div *ngSwitchCase="04">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_REPLACE}}</ion-label>
                                    </div>
                                    <div *ngSwitchCase="06">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_TROUBLE}}</ion-label>
                                    </div>
                                    <div *ngSwitchCase="07">
                                        <ion-label color="dark" style="font-size: 14px;">{{MSG_CLEAN}}</ion-label>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <ion-label></ion-label>
                                    </div>
                                </ng-container>
                                <ion-label text-right color="dark" class="sensor-value">{{ sensor.value }}</ion-label>
                                &nbsp;{{ sensor.unit }}
                  
                            
                            </ion-item>
                            </ion-list>

                                <!--
                                <ion-list [attr.track]="sensor.state">
                                    <ion-list-header>
                                        <ion-label item-start text-left color="dark">{{ sensor.name_tag }}</ion-label>
                                        <ion-label item-end text-right>{{sensor.temp}}°C</ion-label>
                                    </ion-list-header>    
                                    <ion-row>
                                        <ion-col align-self-end>
                                            <ng-container [ngSwitch]="sensor.state">
                                                <div *ngSwitchCase="00">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_OK}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="02">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_NETWORK_ERROR}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="03">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_CORRECTION}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="04">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_REPLACE}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="06">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_TROUBLE}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="07">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_CLEAN}}</ion-label>
                                                </div>
                                                <div *ngSwitchDefault>
                                                    <ion-label></ion-label>
                                                </div>
                                            </ng-container>
                                        </ion-col>
                                        <ion-col>
                                            <ion-label text-right color="dark" class="sensor-value">{{ sensor.value }}</ion-label>
                                            &nbsp;{{ sensor.unit }}
                                        </ion-col>
                                    </ion-row>
                                </ion-list>
                                -->
                        </ion-card>
                        
                        <ion-card *ngIf="(sensor.channel_id == channel.id) && (modes[i] == 1)" class="button-card">
                            <div style="height: 32px; visibility: hidden;"></div>
                            <div>
                                <ion-buttons>
                                    <ion-button class="button__list" fill="outline" expand="block" (click)="changeMode(i, 2)">       
                                        <div>
                                            <ion-icon style="zoom:1.5;" name="speedometer"></ion-icon><br>
                                            <ion-label>아날로그<br />표시창</ion-label>
                                        </div>
                                    </ion-button>
                                    <ion-button class="button__list" fill="outline" expand="block" (click)="changeMode(i, 3, sensor.id)">
                                        <div>
                                            <ion-icon style="zoom:1.5;" name="pulse"></ion-icon><br>
                                            <ion-label>트렌드<br />보기</ion-label>
                                        </div>
                                    </ion-button>
                                    <ion-button class="button__list" fill="outline" expand="block" (click)="moveViewSource(sensor.id)">
                                        <div>
                                            <ion-icon style="zoom:1.5;" name="paper"></ion-icon><br>
                                            <ion-label>자료<br />보기</ion-label>
                                        </div>
                                    </ion-button>
                                    <ion-button class="button__list" fill="outline" expand="block" (click)="moveSettings(sensor.id)">
                                        <div>
                                            <ion-icon style="zoom:1.5;" name="settings"></ion-icon><br>
                                            <ion-label>설정</ion-label>
                                        </div>
                                    </ion-button>
                                    <ion-button class="button__list" fill="outline" expand="block" (click)="changeMode(i, 0)">
                                        <div>
                                            <ion-icon style="zoom:1.5;" name="home"></ion-icon><br>
                                            <ion-label>메인<br />화면</ion-label>
                                        </div>
                                    </ion-button>
                                </ion-buttons> 
                            </div>
                        </ion-card>
                        
                        <ion-card *ngIf="((sensor.channel_id == channel.id) && (modes[i] == 2))" class="button-card" (click)="changeMode(i, 1)">

                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="9">
                                        <linear-gauge #linear_gauge
                                        width="180"
                                        height="80"
                                        minor-ticks="4"
                                        stroke-ticks="true"
                                        border-shadow-width="0"
                                        font-numbers-size="40"
                                        borders="false"
                                        bar-begin-circle="false"
                                        tick-side="left"
                                        number-side="left"
                                        needle-side="left"
                                        needle-type="arrow"
                                        ticks-width="50"
                                        ticks-width-minor="15"
                                        needle-width="20"
                                        needle-height="10"
                                        bar-width="20"
                                        color-needle="#4c4c4c"
                                        color-needle-end="#4c4c4c"
                                        color-title="#000"
                                        color-units="#000"
                                        color-numbers="#000"
                                        color-bar-progress="#9E9E9E"
                                        color-bar="#f5f5f5"
                                        title="아날로그 표시창"
                                        value="{{sensor.value}}"
                                        >
                                        </linear-gauge>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-label text-right color="dark">{{ sensor.value }}</ion-label>
                                        &nbsp;{{ sensor.unit }}
                                    </ion-col>
                                </ion-row>
                            
                                <!--
                                <ion-row>
                                    <ion-col align-self-end>
                                        <ion-row>
                                            <linear-gauge #linear_gauge
                                            width="150"
                                            height="50"
                                            minor-ticks="4"
                                            stroke-ticks="true"
                                            color-plate="#fff"
                                            border-shadow-width="0"
                                            font-numbers-size="40"
                                            borders="false"
                                            bar-begin-circle="false"
                                            tick-side="left"
                                            number-side="left"
                                            needle-side="left"
                                            needle-type="line"
                                            ticks-width="50"
                                            ticks-width-minor="15"
                                            needle-width="10"
                                            color-needle="#888888"
                                            color-needle-end="#888888"
                                            bar-width="20"
                                            value="{{sensor.value}}"
                                            >
                                            </linear-gauge>
                                        </ion-row>
                                        <ion-row>
                                            <ng-container [ngSwitch]="sensor.state">
                                                <div *ngSwitchCase="00">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_OK}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="02">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_NETWORK_ERROR}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="03">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_CORRECTION}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="04">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_REPLACE}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="06">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_TROUBLE}}</ion-label>
                                                </div>
                                                <div *ngSwitchCase="07">
                                                    <ion-label color="dark" style="font-size: 14px;">{{MSG_CLEAN}}</ion-label>
                                                </div>
                                                <div *ngSwitchDefault>
                                                    <ion-label></ion-label>
                                                </div>
                                            </ng-container>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label text-right color="dark" class="sensor-value">{{ sensor.value }}</ion-label>
                                        &nbsp;{{ sensor.unit }}
                                    </ion-col>
                                </ion-row>
                                -->
                            </ion-card-content>     
                        </ion-card>

                        <ion-card *ngIf="(sensor.channel_id == channel.id) && (modes[i] == 3)" class="button-card" (click)="changeMode(i, 1)">
                            
                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="9">
                                        <div echarts class="class-chart" [options]="optionValue" [merge]="updateOption[i]"></div>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-label text-right color="dark">{{ sensor.value }}</ion-label>
                                        &nbsp;{{ sensor.unit }}
                                    </ion-col>
                                </ion-row>
                                <!--
                                <ion-row>
                                    <ion-col align-self-end size="9">
                                        <div echarts class="class-chart" [options]="optionValue" [merge]="updateOption[i]"></div>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-label text-right color="dark">{{ sensor.value }}</ion-label>
                                        &nbsp;{{ sensor.unit }}
                                    </ion-col>
                                </ion-row>
                                -->

                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                
            </ion-grid>
            </ion-slide>
        </ion-slides>
    
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="light" (click)="presentEmail()">
                <ion-icon name="mail"></ion-icon>
            </ion-fab-button>
        </ion-fab>

</ion-content>
