<ion-content
  [scrollEvents]="true"
>
  
<form role="form" [formGroup]="loggerForm" (ngSubmit)="onSubmit()">
    <ion-card class="gauge-card">
        <ion-list>
            <ion-item lines="none">
                <ion-label>{{ch_name}} - {{title}}</ion-label>
            </ion-item>
            <ion-item lines="none" style="padding:0px !important;">
                <ion-button color="dark" class="button__list" fill="outline" expand="block" (click)="presentLoading()" routerLink="/view-source/trend/{{sensorId}}">
                    <div>
                        <ion-label>트랜드<br />보기</ion-label>
                    </div>
                </ion-button>
                <ion-button color="dark" class="button__list" fill="outline" expand="block" routerLink="/view-source/view-text/{{sensorId}}">
                    <div>
                        <ion-label>텍스트<br />보기</ion-label>
                    </div>
                </ion-button>
                <ion-button color="dark" class="button__list" fill="outline" expand="block" (click)="presentLoading()" routerLink="/view-source/storage/{{sensorId}}">
                    <div>
                        <ion-label>이벤트</ion-label>
                    </div>
                </ion-button>
                <ion-button color="dark" class="button__list" fill="outline" expand="block" routerLink="/home">
                    <div>
                        <ion-label>메인<br />화면</ion-label>
                    </div>
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>시작일</ion-label>
                <ion-datetime display-format="MMM DD, YYYY"
                    monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"
                    formControlName="start"
                    placeholder="월/일/년" done-text="선택" cancel-text="취소"
                ></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>끝일</ion-label>
                <ion-datetime display-format="MMM DD, YYYY"
                    monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"  
                    formControlName="end"
                    placeholder="월/일/년" done-text="선택" cancel-text="취소"
                ></ion-datetime>
            </ion-item>
            <ion-button size="medium" expand="full" type="submit" [disabled]="!loggerForm.valid">
                업데이트/갱신
            </ion-button>
        </ion-list>
    </ion-card>
</form>

  <ngx-datatable #table
    [messages]="table_messages"
    class="bootstrap table-striped"
    style="height: 600px;"
    [columnMode]="'standard'"
    [rows]="rows"
    [rowClass]="getRowClass"
    [scrollbarV]="true"
    [scrollbarH]="true">
    <ngx-datatable-column name="날짜시간" prop="timestamp" width="170">
        <ng-template ngx-datatable-cell-template let-value="value">            
          {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column width="70">
      <ng-template ngx-datatable-header-template>
        <span>값</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.value}}{{row.unit}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="온도" prop="temp" width="70">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}°C
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button size="small" color="light" (click)="scrollTop()">
          <ion-icon name="arrow-up"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="downloadFile()"><ion-icon name="download"></ion-icon></ion-fab-button>
  </ion-fab>
  <!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="shareCsv()"><ion-icon name="share"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="shareEmail()"><ion-icon name="mail"></ion-icon></ion-fab-button>
      </ion-fab-list>    
  </ion-fab>
  -->
  <br />
  <br />


</ion-content>
